{{ $lastGallery := index ((where .Site.RegularPages "Type" "gallery").ByDate.Reverse) 0 }}
{{ if $lastGallery }}
  {{ $url := "" }}
  {{ $mdImg := findRE `!\[.*?\]\((.*?)\)` $lastGallery.RawContent 1 }}
  {{ if $mdImg }}
    {{ $url = replaceRE `!\[.*?\]\((.*?)\)` "$1" (index $mdImg 0) }}
  {{ end }}
  {{ if not $url }}
    {{ $figImg := findRE `{{<\s*figure\s[^>]*src="([^"]+)"` $lastGallery.RawContent 1 }}
    {{ if $figImg }}
      {{ $url = replaceRE `{{<\s*figure\s[^>]*src="([^"]+)".*` "$1" (index $figImg 0) }}
    {{ end }}
  {{ end }}
  {{ if $url }}
    <img src="{{ $url | relURL }}" alt="{{ $lastGallery.Title }}"
         style="width: calc(100% - 40px); height: auto; margin: 20px auto 10px auto; display: block;">
  {{ end }}
  <li style="text-align: center;"><a href="{{ $lastGallery.RelPermalink }}">{{ $lastGallery.Title }}</a></li>
  <li style="text-align: center; color: #666; font-size: 0.85em;">{{ $lastGallery.Date.Format "January 2, 2006" }}</li>
{{ end }}
