<style>
  .guestbook-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  #guestbook {
    width: 100%;
    border: none;
    display: block;
  }
  
  @media (max-width: 768px) {
    #guestbook {
      height: 700px !important;
      transform: scale(0.8);
      transform-origin: top left;
    }
  }
  
  @media (max-width: 480px) {
    #guestbook {
      height: 500px !important;
      transform: scale(0.65);
      transform-origin: top left;
    }
  }
</style>

<div class="guestbook-wrapper">
  <iframe 
    aria-label="Guestbook" 
    id="guestbook" 
    src="https://users4.smartgb.com/g/g.php?a=s&i=g44-82905-ab" 
    style="height:1760px;"
    loading="lazy"
  ></iframe>
</div>
