<style>
  .guestbook-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .guestbook-container {
    width: 550px;
    height: 100%;
    overflow: hidden;
  }
  
  #guestbook {
    width: 550px;
    border: none;
    display: block;
  }
  
  @media (max-width: 640px) {
    .guestbook-container {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
    }
    
    #guestbook {
      width: 100vw;
      height: 700px !important;
    }
  }
  
  @media (max-width: 480px) {
    .guestbook-container {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
    }
    
    #guestbook {
      width: 100vw;
      height: 550px !important;
    }
  }
</style>

<div class="guestbook-wrapper">
  <div class="guestbook-container">
    <iframe 
      aria-label="Guestbook" 
      id="guestbook" 
      src="https://users4.smartgb.com/g/g.php?a=s&i=g44-82905-ab" 
      style="height:1760px;"
      loading="lazy"
    ></iframe>
  </div>
</div>
