{{ define "main" }}
<style>
  .world-body {
    position: relative;
  }

  .world-infobox {
    float: right;
    clear: right;
    width: 33%;
    margin: 0 0 1em 1.5em;
    color: #000;
  }

  .world-infobox .nav-list {
    padding: 0;
  }

  .world-infobox .infobox-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .world-infobox .infobox-row {
    display: flex;
    gap: 0.5em;
    padding: 3px 6px;
  }

  .world-infobox .infobox-key {
    font-weight: bold;
    flex-shrink: 0;
    width: 45%;
  }

  .world-infobox .infobox-val {
    flex: 1;
  }

  .world-body::after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="row-fluid navmargin">
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>

  {{ with .Params.description }}
    <p class="lead">{{ . }}</p>
  {{ end }}

  <div class="world-body">

    {{ if .Params.infobox }}
    <aside class="world-infobox">
      <ul class="nav nav-list bs-docs-sidenav">

        {{ $img := "" }}
        {{ with .Params.image }}
          {{ if reflect.IsSlice . }}
            {{ $first := index . 0 }}
            {{ if reflect.IsSlice $first }}
              {{ $img = index $first 0 }}
            {{ else }}
              {{ $img = $first }}
            {{ end }}
          {{ else }}
            {{ $img = . }}
          {{ end }}
        {{ end }}
        {{ if $img }}
        <li class="infobox-image">
          <img src="{{ $img }}" alt="{{ .Title }}">
        </li>
        {{ end }}

        <li class="nav-header">{{ .Params.infobox }}</li>

        {{ $skip := slice
          "title" "date" "lastmod" "publishdate" "expirydate"
          "description" "draft" "tags" "image" "infobox"
          "summary" "weight" "slug" "url" "aliases"
          "outputs" "layout" "type" "series" "categories"
        }}

        {{ range $key, $val := .Params }}
          {{ if not (in $skip $key) }}
          <li class="infobox-row">
            <span class="infobox-key">{{ $key | humanize }}</span>
            <span class="infobox-val">
              {{ if reflect.IsSlice $val }}
                {{ delimit $val ", " }}
              {{ else }}
                {{ $val }}
              {{ end }}
            </span>
          </li>
          {{ end }}
        {{ end }}

        {{ with .Params.tags }}
        <li class="infobox-tags">
          {{ range . }}<span class="tag">{{ . }}</span>{{ end }}
        </li>
        {{ end }}

      </ul>
    </aside>
    {{ end }}

    <article class="world-content">
      {{ .Content }}
    </article>

  </div>

  <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
</div>
{{ end }}
